html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-orange: #ff7948;
  --color-grey: #efefef;
  --color-light-font: #5b5e66;
}

.container {
  background-color: var(--color-grey);
  margin: 3rem auto;
  box-shadow: 0 0 8px rgba(14, 19, 24, .07);
  width: 75%;
  max-width: 90rem;
  height: 70rem;
}