:root {
  --color-orange: #ff7948;
  --color-grey: #efefef;
  --color-light-font: #5b5e66;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  background-color: var(--color-grey);
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 0 8px rgba(14, 19, 24, 0.07);
}

.block {
  width: 95%;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1.5rem;
}

.block__title-primary {
  color: var(--color-orange);
  font-weight: 700;
  font-size: 1.6rem;
}

.block__title-secondary {
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.block__content {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-light-font);
  margin-top: .8rem;
  list-style-position: inside;
}

.block__content > li {
  line-height: 2.5rem;
}

.profile-info {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.profile-info__basic {
  position: relative;
  background-color: var(--color-orange);
  width: 45%;
  padding: 3rem 0;
  padding-top: 6rem;
  margin-right: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
}

.profile-info__photo {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-info__name {
  color: #000;
  font-size: 1.8rem;
}

.profile-info__job {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.hr {
  margin: 3rem auto;
  width: 90%;
}


.footer {
  width: 75%;
  text-align: center;
  margin: 3rem auto 1rem auto;
  padding-top: 1rem;
  border-top: 1px solid var(--color-light-font);
  color: var(--color-light-font);
  font-size: 1.2rem;
}


/* Util */
.color-white {
  color: #fff;
}
